<div class="container">
  <table class="table rooms">
    <tbody>
      <% @chat_partners.each do |chat_partner| %>
        <tr>
          <td><%= link_to "#{chat_partner.nickname}さんとのトークルーム", chat_path(chat_partner.id, anchor: 'saikabu'), class: "text-dark" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>