/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 @import "bootstrap";


 .container {
 }

 .sticky-top {
 }

 .side-bar {
 	position: sticky;
 }
 
 .side-pad {
  padding: 0px 17px;
 }

 .top-image {
 	height: 100vh;
	background: image-url('guitar.jpg');
	background-position: top;
	background-size: cover;
	}
	
	.reset {
	 margin: 0px;
	 padding: 0px;
	 flex: none;
	}

 .w-20per {
     width: 20%;
 }


 .ml-90vw {
     margin-left: 90vw;
 }
 .ml-10vw {
 	margin-left: 10vw;
 }

 .width-20vw {
 	width: 20vw;
 }


.mb-5vh {
	margin-bottom: 5vh;
}

.mr-3vw {
	margin-right: 3vw;
}

.chats {
}

.mycomment {
 display: inline-block;
 max-width: 450px;
 margin-right: 0px;
 padding: 3px 16px;
}

.partnercomment {
 display: inline-block;
 max-width: 450px;
 padding: 3px 16px;
}

.scroll {
 overflow-y: scroll;
}







@media screen and (min-width: 768px) {
	.color {
		background: linear-gradient(to right, #8b4513 0%, #8b4513 25%, #d2b48c 25%, #d2b48c 100%);
	}
}

@media screen and (max-width: 767px) {
	.color {
		background: #d2b48c;
	}
	.nav-btn {
		width: 50vh;
		margin: 1vh auto;
	}
}